<div class="panel">
    <!-- button (click)="startMonitor()">Start Monitor</button -->
    <strong>Auto Simulation: </strong>
    <button (click)="startAutoSimulation()" [disabled]="isAutoRunning">▶️ Start</button>
    <button (click)="stopAutoSimulation()" [disabled]="!isAutoRunning">⏹ Stop</button>

    <div *ngFor="let room of sim.classrooms">
        <h4>{{room.name}}</h4>
        <button (click)="addStudent(room.name)">Add Student</button>
        <button (click)="addVisitor(room.name)">Add Visitor</button>
        <select #lit>
            <option *ngFor="let l of lecturerIds" [value]="l">{{l}}</option>
        </select>
        <button (click)="addLecturer(room.name, lit.value)">Add Lecturer</button>
    </div>
</div>