.card {
    border: 2px solid skyblue;
    margin: 10px;
    border-radius: 5px;
}

.card-body {
    padding-inline: 10px;
    padding-bottom: 10px;
}

.card-header {
    background-color: skyblue;
    padding-inline: 10px;
    padding-block: 5px;
    margin-top: 0px;
}

.on {
    color: green;
}

.occupants {
    display: flex;
    flex-wrap: wrap;
}

/*
i {
    width: 16px;
    height: 16px;
    margin: 2px;
    display: block;
    border-radius: 50%;
    font-weight: bolder;
}

i.student {
    background: rgb(5, 176, 244);
}

i.visitor {
    background: orange;
}
*/