/* You can add global styles to this file, and also import other style files */

// Following styles are for Classroom occupants indicators and are needed in ClassroomComponent & DashboardComponent
i {
    width: 16px;
    height: 16px;
    margin: 2px;
    display: block;
    border-radius: 50%;
    font-weight: bolder;
}

i.student {
    background: rgb(5, 176, 244);
}

i.visitor {
    background: orange;
}